:root {
  --bg-color: rgb(245, 243, 234);
}

html {
  scroll-behavior: smooth;
  position: relative;
  min-height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-color);
}

.wrapper {
  max-width: 1200px;
  margin: auto;
}

/* Navbar */
.logo {
  font-family: "Satisfy", cursive;
  text-decoration: none;
  padding-left: 20px;
}

.wrapper-nav {
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.fa-file-download {
  padding-left: 5px;
}

header img {
  width: 48px;
}

header ul {
  display: flex;
  margin: 0px;
}

header li {
  list-style: none;
  padding: 1.5em;
  font-size: 14px;
  animation: fade-in-left 1s 1 0s linear;
}

header li:hover {
  background-color: #ac0000;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
}

header {
  background-color: black;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
}

/* Navbar Animations */
@keyframes fade-in-left {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Navbar Responsiveness */

@media only screen and (min-width: 636px) {
  .menu {
    display: none;
  }
}

@media only screen and (max-width: 635px) {
  header ul {
    display: none;
  }
  .menu {
    cursor: pointer;
    position: absolute;
    right: 20px;
    padding: 0.5em;
    margin: 10px;
  }
}

/* Hamburger Menu Toggle */
.menu-click .wrapper-nav {
  height: 300px;
  transition: height 2s;
}

.menu-click ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5em;
  margin-right: auto;
}

/*Landing Section */

#landing {
  height: 90vh;
  min-height: 300px;
  padding-top: 50px;
  width: 100%;
}

.wrapper-landing {
  text-align: center;
}

h1 {
  position: relative;
  font-family: "Source Code Pro", monospace;
  position: relative;
  width: max-content;
  font-size: 4rem;
  margin: 200px auto auto auto;
}

h1::before,
h1::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
h1::before {
  background: var(--bg-color);
  animation: typewriter 3s steps(19) forwards 1s;
}

h1::after {
  width: 0.125em;
  background: black;
  animation: typewriter 3s steps(19) 1s forwards, blink 750ms steps(18) infinite;
}

.subtitle {
  color: black;
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 50px;
  opacity: 0;
  transform: translateY(3rem);
  animation: fade-in-up 2s ease 4s forwards;
}

.btn {
  background-color: #ac0000;
  margin-top: 20px;
  padding: 15px;
  font-size: 20px;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 20px;
  opacity: 0;
  transform: translateY(3rem);
  animation: fade-in 2s ease 5s forwards;
}

.btn:hover {
  color: #ac0000;
  background-color: white;
}

/* Landing Animations */
@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in-up {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Landing Responsiveness */
@media only screen and (max-width: 700px) {
  h1 {
    font-size: 2rem;
  }
}

/* About Me Section */
#aboutme {
  background-color: rgb(250, 241, 201);
  min-height: 100vh;
  padding-top: 50px;
  padding-bottom: 20px;
}

.wrapper-aboutme {
  text-align: center;
}

.aboutme-header {
  background-color: #ac0000;
  width: 100%;
  text-align: center;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 40px;
}

.wrapper-aboutme h3,
.wrapper-aboutme h4 {
  font-size: 25px;
}

.wrapper-aboutme li {
  font-size: 20px;
}
.tech-list {
  font-size: 30px;
  margin-bottom: 30px;
}

h3 {
  color: #ac0000;
}

/* Portfolio Section */

#portfolio {
  background-color: white;
  padding-top: 30px;
  min-height: 100vh;
}

.wrapper-portfolio {
  text-align: center;
}

.wrapper-portfolio h2 {
  font-size: 50px;
  color: #ac0000;
}

.badge {
  background-color: white;
  color: #ac0000;
  font-family: "Poppins", sans-serif;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  border: 1px solid #ac0000;
}

.badge:hover,
.active {
  color: white;
  background-color: #ac0000;
  cursor: pointer;
}

.cards-wrapper {
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 1em;
  padding-top: 50px;
}

.card {
  background-color: var(--bg-color);
  border: 1px black solid;
  height: max-content;
  border-radius: 20px;
  padding: 15px;
  margin: 10px;
  display: none;
}

.card-title {
  font-size: 26px;
  font-weight: bold;
  color: #ac0000;
  padding-bottom: 10px;
}

.card img {
  width: 100%;
  border: 1px black solid;
}

.icon {
  padding: 20px;
  font-size: 25px;
  border-radius: 10px;
  color: white;
  background-color: black;
}

.icon:hover {
  background-color: #ac0000;
  cursor: pointer;
}

.disabled {
  padding: 20px;
  font-size: 25px;
  border-radius: 10px;
  color: white;
  background-color: grey;
}

.show {
  display: inline-block;
}

/* Portfolio Responsiveness */
@media only screen and (max-width: 1200px) {
  .cards-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 900px) {
  .cards-wrapper {
    grid-template-columns: 1fr;
  }
}
